@charset "utf8";

/*이투데이개편헤더시작*/
.show {display: block}
.hide {display: none}
.blind,legend {display: block;overflow: hidden;position: absolute;top: -1000em;left: 0}
#old_etoday {font-family:'Malgun Gothic' !important;}
/* 스프라이트이미지 */
.old_ico {background-image:url("/images/201605/icon.png");background-position:0 0;background-repeat:no-repeat;text-indent: -9999px}

/* 상단 메뉴 */
#old_etoday {position: relative;width: 100%;z-index: 1}
#old_etoday .e_gnb_wrap {width: 100%;height: 30px;border-bottom: 1px solid #ebebeb}
#old_etoday .e_g_content {overflow: hidden;width: 1100px;margin: 0 auto}
#old_etoday .h_gnb_left  {float: left}
#old_etoday .h_gnb_right {float: right}
#old_etoday .h_gnb_left ul , .h_gnb_right ul {overflow: hidden}
#old_etoday .h_gnb_left ul li , .h_gnb_right ul li {float: left;padding-left: 15px}
#old_etoday .h_gnb_left ul li:first-child {padding-left: 0}
#old_etoday .h_gnb_left ul li a , .h_gnb_right ul li a {height: 30px;line-height: 30px;vertical-align: middle;color: #888}

/* 헤더 */
#old_etoday .e_header {position: relative;width: 1100px;margin: 0 auto;padding: 30px 0 0 0;z-index: 3}/*20160518수정*/
#old_etoday .etoday_logo {width: 184px;margin: 0 auto}

/* 좌측상단배너 */
#old_etoday .event_banner {position: absolute;top: 20px;left: 0}
#old_etoday .event_banner .event_b_w ul {overflow: hidden}
#old_etoday .event_banner ul li {float: left}
#old_etoday .event_button {position: absolute;top: 48px;right: -45px;overflow: hidden}
#old_etoday .event_button div {float: left;padding-left: 3px }
#old_etoday .event_button div a {display: block}
#old_etoday .event_button div .on {display: block;width: 10px;background-position: 0 0}
#old_etoday .event_button div .off {display: block;width: 10px;background-position: -20px 0;}

/* 메인네비 */
#old_etoday .etoday_gnb {position: relative;width: 1100px;height: 35px;padding-top: 35px;border-bottom: 15px solid #1d46c9}
#old_etoday .etoday_gnb .e_gnb_Mmenu {overflow: hidden;margin-left: 50px;}
#old_etoday .etoday_gnb .e_gnb_Mmenu .n_depth_wrap {width:775px;height: 40px;position: absolute;top: 52px;padding-top:43px;left: 0;margin-left: 0;overflow: hidden;z-index: 10;}
#old_etoday .etoday_gnb .e_gnb_Smenu {overflow: hidden; position: absolute;top: 34px;right: 40px}
#old_etoday .etoday_gnb ul li {float: left;padding-left: 25px}
#old_etoday .etoday_gnb ul li:first-child {padding-left: 0}
#old_etoday .etoday_gnb ul li a {color: #000;font-size:17px;font-weight: bold}
#old_etoday .etoday_gnb ul li a:hover {color: #ce2c53}
#old_etoday .etoday_gnb .btn_all {position: absolute;top: 41px;left: 0}
#old_etoday .etoday_gnb .btn_all a {display: block}
#old_etoday .etoday_gnb .btn_all .btn_open {background-position: 0 -110px;width: 20px;}
#old_etoday .etoday_gnb .btn_search_1 {display: block;position: absolute;top: 38px;right: 0;width: 20px;height: 25px;margin-top: 1px;background-position: -30px -110px;background-color: #fff;vertical-align: top;border: 0;cursor: pointer;text-indent: -9999px}
#old_etoday .etoday_gnb .search_area {display: none;position: absolute;top: 30px;right: 0;width: 335px;height: 35px;background: #fff;z-index: 9999}
#old_etoday .etoday_gnb .search_area .box {float: left;position: relative;width: 336px;height: 36px;background-position: 0 -140px}
#old_etoday .etoday_gnb .search_area input.search_txt {display: block;float: left;width: 250px;height: 26px;margin: 4px 0 0 20px;background: #fff;color: #141414;font-size: 14px;line-height: 24px;border: 0}
#old_etoday .etoday_gnb .search_area .btn_search {top: 6px;right: 14px}
#old_etoday .etoday_gnb .btn_search {position: absolute;width: 20px;height: 25px;background-color: #fff;background-position: -30px -110px;vertical-align: top;border: 0;text-indent: -9999px;cursor: pointer}
#old_etoday .etoday_gnb .btn_searchclose {display: block;position: absolute;width:20px;height: 25px;margin-top: 8px;left:50%;margin-left:110px;background-position: 0 -1677px;vertical-align: middle;border: 0;cursor: pointer;text-indent: -9999px;opacity:0.3;}

/* 투뎁스 네비*/
#old_etoday .e_gnb_Mmenu li .navi_depth_list {overflow: hidden;z-index: 9999;background-color: #fff;height:30px;}
#old_etoday .e_gnb_Mmenu li .navi_stock {position: relative;top: 0; left: 0;padding-left:48px;}
#old_etoday .e_gnb_Mmenu li .navi_politics {position: absolute;top: 100px; left: 160px}
#old_etoday .e_gnb_Mmenu li .navi_opinion {position: absolute;top: 100px; left: 245px}
#old_etoday .e_gnb_Mmenu li ul li {float: left;padding-left: 20px}
#old_etoday .e_gnb_Mmenu li ul li a {color: #888;font-size: 13px;font-weight: normal}
#old_etoday .e_gnb_Mmenu li ul li a:hover {color: #000}
#old_etoday .e_gnb_Mmenu li.m4 .navi_depth_list {padding-left:155px;}
#old_etoday .e_gnb_Mmenu li.m5 .navi_depth_list {padding-left:240px;}
#old_etoday .e_gnb_Mmenu li.m6 .navi_depth_list {padding-left:355px;}

/* 투뎁스 알림*/
#old_etoday .e_navi_depth {position: relative;width: 1100px;height: 40px;margin: 0 auto;line-height: 35px;vertical-align: middle;border-bottom: 1px solid #000;z-index: 1}
#old_etoday .e_notice {overflow:hidden;position: absolute; top: 0; left: 20px;padding-top:11px;width:800px;height:40px;text-align: left;line-height:1;}
#old_etoday .e_notice a {position: relative;color: #888}
#old_etoday .e_notice .notice_t {overflow:hidden;float:left;top:0;padding-left: 5px;width:500px;height:20px;}
#old_etoday .e_notice ul {float: left;;padding-left: 5px}
#old_etoday .e_notice ul li {height:20px;line-height:1;}
#old_etoday .e_notice .e_notice_tit {float: left}
#old_etoday .e_left_depth {position: absolute; top: 0; right: 20px}
#old_etoday .e_left_depth ul {overflow: hidden}
#old_etoday .e_left_depth ul li {float: left;padding-left: 15px}
#old_etoday .e_left_depth ul li:first-child {padding-left: 0}
#old_etoday .e_left_depth ul li a {color: #888}
#old_etoday .e_notice_tit {color: #333;font-size: 13px;font-weight: bold;letter-spacing: -1px}
#old_etoday .e_notice .sec_home_line {position: absolute;top: 14px;left: 30px;width: 1px;height: 10px;background-color: #555}
#old_etoday .e_notice .e_notice_txt {margin-left: 10px}

/* 전체선택 메뉴 */
#old_etoday .e_all_menu {position: absolute;top: 143px;left: 0;background-color: #fff;width: 1098px;height: 518px;z-index: 9999;border: 1px solid #d9d9d9}/*20160518수정*/
#old_etoday .e_AM_w {height: 470px;border-bottom: 1px solid #eee}
#old_etoday .e_AM_list {float: left;width: 182px;height: 430px;margin: 30px 0 0 0;border-right: 1px solid #eee}
#old_etoday .e_AM_last {border-right: none}
#old_etoday .e_AM_list ul {width: 184px}
#old_etoday .e_AM_list ul li {padding-bottom: 10px}
#old_etoday .e_AM_list ul li.first a {color: #CE2C53;font-size: 16px;font-weight: bold}
#old_etoday .e_AM_list ul li a {font-size: 15px}
#old_etoday .e_AM_list .two_depth {padding-top: 40px}
#old_etoday .one_depth {height: 180px;}
#old_etoday .am_ico_btn {position: absolute;bottom: 13px;right: 15px;}
#old_etoday .am_ico_btn .am_ico {background-position: 0 -1673px;width: 14px;padding-left: 20px;font-size: 18px;font-weight: bold;text-indent: 0}
#old_etoday .am_ico_btn .am_ico:hover {text-decoration: none}
#old_etoday .am_left_list {position: absolute;bottom: 15px;left: 5px}
#old_etoday .am_left_list span {padding-left: 10px}
#old_etoday .am_left_list span a {color: #666}

/* 푸터 */
#old_etoday #etoday_footer_w {width: 100%;padding: 30px 0 30px 0;clear: both}
#old_etoday .etoday_footer {position: relative;width: 1100px;margin: 0 auto;border-top: 2px solid #333}
#old_etoday .etoday_footer_logo {float: left;padding: 20px 45px 0 10px}
#old_etoday .foot_logo {display: block;background-position: 0 -1590px;width:107px;height: 25px}
#old_etoday .etoday_footer_list {overflow:hidden;padding: 20px 0 5px 0}
#old_etoday .etoday_footer ul {overflow: hidden;float: left}
#old_etoday .etoday_footer ul li {float: left;position: relative;padding: 0 9px}
#old_etoday .etoday_footer ul li a {font-size: 12px}
#old_etoday .etoday_footer ul li strong a {color: #000}
#old_etoday .footer_line {display: block;overflow: hidden;position: absolute;top: 50%;left: 0;width: 1px;height: 10px;margin-top: -4px;padding: 0;background: #ccc}
#old_etoday .e_foot_family {position: absolute;top:17px;right:0}
#old_etoday .foot_select {display: block;background-position: 0 -1640px;width: 133px;height: 25px}
#old_etoday .copyright {width: 756px;margin:0 auto;color: #666;font-size: 12px;text-align: left;line-height: 20px}
#old_etoday .copyright_txt {display: block}
#old_etoday .foot_family_open {position: absolute;top: -113px;right: 0;z-index: 99}
#old_etoday .foot_family_open ul {overflow: hidden;border: 1px solid #ddd}
#old_etoday .foot_family_open ul li {float:none;width: 113px;height: 25px;line-height: 25px;color: #000;background-color: #fff;border-bottom: 1px solid #ddd}
#old_etoday .foot_family_open ul li a {display: block;width: 113px;height: 25px}
#old_etoday .foot_family_open ul li.last {border-bottom: none}
#old_etoday .foot_family_open ul li:hover {background-color: #555}
#old_etoday .foot_family_open ul li a:hover {width: 113px;height: 25px;color: #fff}

/*이스타개편헤더시작*/

/* 상단 메뉴 */
#old_estar {position: relative;width: 100%;z-index: 1}
#old_estar .e_gnb_wrap {width: 100%;height: 30px;border-bottom: 1px solid #ebebeb}
#old_estar .e_g_content {overflow: hidden;width: 1100px;margin: 0 auto}
#old_estar .h_gnb_left  {float: left}
#old_estar .h_gnb_right {float: right}
#old_estar .h_gnb_left ul , .h_gnb_right ul {overflow: hidden}
#old_estar .h_gnb_left ul li , .h_gnb_right ul li {float: left;padding-left: 15px}
#old_estar .h_gnb_left ul li:first-child {padding-left: 0}
#old_estar .h_gnb_left ul li a , .h_gnb_right ul li a {height: 30px;line-height: 30px;vertical-align: middle;color: #888}

/* 헤더 */
#old_estar .e_header {position: relative;width: 1100px;margin: 0 auto;padding: 30px 0 0 0;z-index: 3}/*20160518수정*/
#old_estar .etoday_logo {width: 184px;margin: 0 auto}

/* 좌측상단배너 */
#old_estar .event_banner {position: absolute;top: 20px;left: 0}
#old_estar .event_banner .event_b_w ul {overflow: hidden}
#old_estar .event_banner ul li {float: left}
#old_estar .event_button {position: absolute;top: 48px;right: -45px;overflow: hidden}
#old_estar .event_button div {float: left;padding-left: 3px }
#old_estar .event_button div a {display: block}
#old_estar .event_button div .on {display: block;width: 10px;background-position: 0 0}
#old_estar .event_button div .off {display: block;width: 10px;background-position: -20px 0;}

/*헤더날씨 20160528수정*/
.e_weather {overflow:hidden;position:absolute;top:47px;right:0;width:185px;height:36px;margin-right:0;}
.e_wt_txt {float: left;text-align: right}
.e_wt_txt .e_wt_city {display: block;font-weight: bold;color: #555;}
.e_wt_txt .e_wt_data {color: #7b7b7b}
.e_wt_ico {float: left;padding-left: 8px}
.e_wt_ico span {display: block;height:36px}
.e_wt_ico .sunny {width: 37px;background-position: 0 -20px}
.e_wt_ico .small_clouds {width: 50px;background-position: -52px -20px}
.e_wt_ico .very_clouds {width: 50px;background-position: -120px -20px}
.e_wt_ico .blur {width: 50px;background-position: -196px -20px}
.e_wt_ico .blur_rain {width: 47px;background-position: -274px -24px}
.e_wt_ico .blur_snow {width: 47px;background-position: -343px -24px}
.e_wt_ico .clear_rain {width: 40px;background-position: 0 -67px}
.e_wt_ico .shower {width: 47px;background-position: -50px -67px}
.e_wt_ico .snow_rain {width: 47px;background-position: -106px -69px}
.e_wt_ico .rain_snow {width: 47px;background-position: -162px -69px}
.e_wt_ico .lightning_thunder {width: 47px;background-position: -223px -67px}
.e_wt_ico .fog {width: 35px;background-position: -295px -72px}
.e_wt_ico .dust_storm {width: 30px;background-position: -360px -73px}
.e_wt_ico .tornado {width: 30px;background-position: -420px -72px}
.e_wt_ico .mist {width: 45px;background-position: -475px -74px}
.e_wt_ico .icy_rain {width: 42px;background-position: -545px -73px}
.e_wt_temperature {margin-left: 5px;font-size:22px;color: #000c3d;font-weight: 900;font-family: 'Arial'}
.wt_temperature {padding-top: 10px; font-size:16px;color: #000c3d;font-weight: normal;font-family: '맑은 고딕'}
.e_weather_wrap{position:relative;width:1700px;height:36px;}
.e_weather_wrap ul.e_weather_ul{height:36px;position:absolute;}
.e_weather_wrap ul.e_weather_ul li{width:180px;height:36px;}

/* 메인네비 */
#old_estar .etoday_gnb {position: relative;width: 1100px;height: 35px;padding-top: 35px;border-bottom: 15px solid #ce2c53}
#old_estar .etoday_gnb .e_gnb_Mmenu {overflow: hidden;margin-left: 50px;}
#old_estar .etoday_gnb .e_gnb_Smenu {overflow: hidden; position: absolute;top: 34px;right: 40px}
#old_estar .etoday_gnb ul li {float: left;padding-left: 25px}
#old_estar .etoday_gnb ul li:first-child {padding-left: 0}
#old_estar .etoday_gnb ul li a {color: #000;font-size:17px;font-weight: bold}
#old_estar .etoday_gnb ul li a:hover {color: #1d46c9}
#old_estar .etoday_gnb .btn_all {position: absolute;top: 41px;left: 0}
#old_estar .etoday_gnb .btn_all a {display: block}
#old_estar .etoday_gnb .btn_all .btn_open {background-position: 0 -110px;width: 20px;}
#old_estar .etoday_gnb .btn_search_1 {display: block;position: absolute;top: 38px;right: 0;width: 20px;height: 25px;margin-top: 1px;background-position: -30px -110px;background-color: #fff;vertical-align: top;border: 0;cursor: pointer;text-indent: -9999px}
#old_estar .etoday_gnb .search_area {display: none;position: absolute;top: 30px;right: 0;width: 335px;height: 35px;background: #fff;z-index: 9999}
#old_estar .etoday_gnb .search_area .box {float: left;position: relative;width: 336px;height: 36px;background-position: 0 -140px}
#old_estar .etoday_gnb .search_area input.search_txt {display: block;float: left;width: 250px;height: 26px;margin: 4px 0 0 20px;background: #fff;color: #141414;font-size: 14px;line-height: 24px;border: 0}
#old_estar .etoday_gnb .search_area .btn_search {top: 6px;right: 14px}
#old_estar .etoday_gnb .btn_search {position: absolute;width: 20px;height: 25px;background-color: #fff;background-position: -30px -110px;vertical-align: top;border: 0;text-indent: -9999px;cursor: pointer}
#old_estar .etoday_gnb .btn_searchclose {display: block;position: absolute;width:20px;height: 25px;margin-top: 8px;left:50%;margin-left:110px;background-position: 0 -1677px;vertical-align: middle;border: 0;cursor: pointer;text-indent: -9999px;opacity:0.3;}
						
/* 투뎁스 네비*/
#old_estar .e_gnb_Mmenu li .navi_depth_list {overflow: hidden;z-index: 9999}
#old_estar .e_gnb_Mmenu li .navi_stock {position: absolute;top: 100px; left: 0}
#old_estar .e_gnb_Mmenu li .navi_politics {position: absolute;top: 100px; left: 160px}
#old_estar .e_gnb_Mmenu li .navi_opinion {position: absolute;top: 100px; left: 245px}
#old_estar .e_gnb_Mmenu li ul li {float: left;padding-left: 20px}
#old_estar .e_gnb_Mmenu li ul li a {color: #888;font-size: 13px;font-weight: normal}
#old_estar .e_gnb_Mmenu li ul li a:hover {color: #000}

/* 전체선택 메뉴 */
#old_estar .e_all_menu {position: absolute;top: 143px;left: 0;background-color: #fff;width: 1098px;height: 518px;z-index: 9999;border: 1px solid #d9d9d9}/*20160518수정*/
#old_estar .e_AM_w {height: 470px;border-bottom: 1px solid #eee}
#old_estar .e_AM_list {float: left;width: 182px;height: 430px;margin: 30px 0 0 0;border-right: 1px solid #eee}
#old_estar .e_AM_last {border-right: none}
#old_estar .e_AM_list ul {width: 184px}
#old_estar .e_AM_list ul li {padding-bottom: 10px}
#old_estar .e_AM_list ul li.first a {color: #CE2C53;font-size: 16px;font-weight: bold}
#old_estar .e_AM_list ul li a {font-size: 15px}
#old_estar .e_AM_list .two_depth {padding-top: 40px}
#old_estar .one_depth {height: 180px;}
#old_estar .am_ico_btn {position: absolute;bottom: 10px;right: 15px;}
#old_estar .am_ico_btn .am_ico {background-position: 0 -1679px;width: 14px;padding-left: 20px;font-size: 18px;font-weight: bold;text-indent: 0}
#old_estar .am_ico_btn .am_ico:hover {text-decoration: none}
#old_estar .am_left_list {position: absolute;bottom: 15px;left: 5px}
#old_estar .am_left_list span {padding-left: 10px}
#old_estar .am_left_list span a {color: #666}
#old_estar .am_ico_btn .am_ico:hover {text-decoration: none}

/* 푸터 */
#old_estar #etoday_footer_w {width: 100%;padding: 30px 0 30px 0;clear: both}
#old_estar .etoday_footer {position: relative;width: 1100px;margin: 0 auto;border-top: 2px solid #333}
#old_estar .etoday_footer_logo {float: left;padding: 20px 45px 0 10px}
#old_estar .foot_logo {display: block;background-position: 0 -1590px;width:107px;height: 25px}
#old_estar .etoday_footer_list {overflow:hidden;padding: 20px 0 5px 0}
#old_estar .etoday_footer ul {overflow: hidden;float: left}
#old_estar .etoday_footer ul li {float: left;position: relative;padding: 0 9px}
#old_estar .etoday_footer ul li a {font-size: 12px}
#old_estar .etoday_footer ul li strong a {color: #000}
#old_estar .footer_line {display: block;overflow: hidden;position: absolute;top: 50%;left: 0;width: 1px;height: 10px;margin-top: -4px;padding: 0;background: #ccc}
#old_estar .e_foot_family {position: absolute;top:17px;right:0}
#old_estar .foot_select {display: block;background-position: 0 -1640px;width: 133px;height: 25px}
#old_estar .copyright {width: 756px;margin:0 auto;color: #666;font-size: 12px;text-align: left;line-height: 20px}
#old_estar .copyright_txt {display: block}
#old_estar .foot_family_open {position: absolute;top: -113px;right: 0;z-index: 99}
#old_estar .foot_family_open ul {overflow: hidden;border: 1px solid #ddd}
#old_estar .foot_family_open ul li {float:none;width: 113px;height: 25px;line-height: 25px;color: #000;background-color: #fff;border-bottom: 1px solid #ddd}
#old_estar .foot_family_open ul li a {display: block;width: 113px;height: 25px}
#old_estar .foot_family_open ul li.last {border-bottom: none}
#old_estar .foot_family_open ul li:hover {background-color: #555}
#old_estar .foot_family_open ul li a:hover {width: 113px;height: 25px;color: #fff}

/*많이본기사*/
.RankNews li.RCommon .title {height: 20px}

/*스티키바*/
.e_topbar_wrap {position: fixed;left: 0;width: 100%;height: 70px;padding:0;background:url("/images/201605/top_bar_bg.png") repeat-x scroll 0 0;z-index: 99999}
.e_topbar_c {position: relative;width: 1100px;height: 58px;margin: 0 auto}
.topbar_et_logo {position: absolute;top: 19px;left: 33px}
.topbar_btn_all {position: absolute;top: 20px;left: 0}
.topbar_sns {position: absolute;top: 20px;right: 0}
.topbar_total {position: absolute;top: 20px;right: 105px}
.topbar_gnb {position: absolute;top: 20px;left: 139px}
.topbar_total_c {float:left;color: #5e5e5e;font-size: 14px}
.topbar_total strong {color: #7b7b7b;font-size: 14px;font-family: 'Tahoma'}
.topbar_gnb ul {overflow: hidden}
.topbar_gnb ul li {float: left;position: relative;padding-left: 20px}
.topbar_gnb ul li:first-child {padding-left: 0}
.topbar_gnb ul li a {color: #000}
.topbar_gnb ul li.on a {font-size: 14px;font-weight: bold}
.topbar_gnb .sec_home_line {display: block;overflow: hidden;position: absolute;top: 4px;right: -9px;width: 1px;height: 11px;padding: 0;background: #c6c6c6}
.topbar_total_c .sec_home_line {display: block;overflow: hidden;position: absolute;top: 5px;left: 63px;width: 1px;height: 10px;padding: 0;background: #a3a3a3}
.tb_btnall {display: block;width: 19px;background-position: 0 -3553px}
.tb_logo {display: block;width: 82px;height: 19px;background-position: 0 -3599px}
.tatal_ico {display: block;width: 74px;height: 22px;background-position: 0 -3660px;text-indent: 0}
.topbar_sns ul {overflow: hidden}
.topbar_sns ul li {float: left;padding-left: 12px}
.tb_face {display: block;width: 7px;background-position: 0 -3729px}
.tb_twi {display: block;width: 14px;background-position: -22px -3729px}
.tb_kakao {display: block;width: 8px;background-position: -50px -3729px}
.tb_coment {display: block;width: 20px;background-position: -70px -3729px}
.tb_face:hover {display: block;width: 7px;background-position: 0 -3769px}
.tb_twi:hover {display: block;width: 14px;background-position: -22px -3769px}
.tb_kakao:hover {display: block;width: 8px;background-position: -50px -3769px}
.tb_coment:hover {display: block;width: 20px;background-position: -70px -3769px}