@charset 'utf-8';

/*
 * BioSpectator UI CSS
 */

/* NanumGothic Web Font */
@font-face{
	font-family:nanum;
    src:url('../font/NanumGothic.eot');
    src:url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumGothic.woff') format('woff'),
        url('../font/images/NanumGothic.ttf') format('truetype');
    font-weight:normal;
}
@font-face{
	font-family:nanumB;
	src:url('../font/NanumGothicBold.eot');
	src:url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
	url('../font/NanumGothicBold.woff') format('woff'),
	url('../font/NanumGothicBold.ttf') format('truetype');
	font-weight:normal;
}

/* Reset */
html, body {height:100%; -webkit-text-size-adjust:none;}
html, body, div, iframe, form, fieldset, legend, input, select, button, textarea, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
body {color:#333; font-size:12px; font-family:'맑은 고딕', 'Malgun Gothic', '나눔고딕', NanumGothic, nanum, '돋움', Dotum, AppleGothic, sans-serif;}
input, select, button, textarea, th, td {color:#333; font-size:12px;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-family:'맑은 고딕', 'Malgun Gothic', nanumB;}
ol, ul, li {list-style:none;}
img, fieldset {border:0 none;}
input, button, select, textarea, label {vertical-align:middle; resize:none; outline:none;}
input, textarea {-webkit-appearance:none; -webkit-border-radius:0;}
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio; -webkit-border-radius:10px;}
input[type="button"], input[type="submit"], input[type="reset"] {cursor:pointer;}
button {border:0 none; background:transparent; cursor:pointer;}
table {border-collapse:collapse; border-spacing:0;}
address, em, optgroup {font-style:normal;}
hr {display:none;}
legend, .hide {overflow:hidden; position:absolute; top:0; left:-99999px; width:0; height:0; font-size:0; line-height:0;}
caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0; text-indent:-99999px;}
.blind {overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; text-indent:10px; white-space:nowrap;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
a {color:#333; text-decoration:none;}

/* skipnavi */
#skipnavi {position:absolute; left:0; top:0; z-index:99999999; width:100%;}
#skipnavi p {position:absolute; left:0; top:0; width:100%;}
#skipnavi a {display:block; overflow:hidden; width:1px; height:1px; margin-bottom:-1px; font-size:0;}
#skipnavi a:active, #skipnavi a:focus {width:100%; height:auto; padding:5px 0; background:#818285; color:#fff; font-size:1em; text-align:center;}

/*======================================================================
 * Global Layout
 =======================================================================*/
.inner_wrap {width:1127px; margin:0 auto;}
#wrapper {min-width:1127px; height:100%;}
/* header */
#header {position:relative; z-index:5; height:224px; border-bottom:5px solid #00aa8c;}
#header h1 {padding:45px 0 44px 0;}
#header h1 a {display:block; overflow:hidden; width:395px; height:61px; margin:0 auto; background:url(../images/logo.png) no-repeat; text-indent:-9999px;} 
#header .navi {text-align:center;}
#header .navi li {display:inline-block; padding:0 26px 0 30px;}
#header .navi li a {color:#000; font-size:18px; font-family:nanumB; letter-spacing:-0.022em;}
#header .navi li a:hover, #header .navi li a:active, #header .navi li a:focus, #header .navi li a.on {color:#00aa8c;}
#header .inner_wrap {position:relative;}
#header .total_search {position:absolute; top:150px; right:0; width:116px; height:22px; padding-left:34px; background:url(../images/btn_search.png) no-repeat 0 1px;}
#header .total_search .inp_sear {width:100%; height:22px; border:0; background:#fff; line-height:22px;} 
#header .total_search label {display:block; position:absolute; top:0; left:0; right:0; padding-left:34px; color:#c2e4db; font-family:'돋움', Dotum; line-height:22px; letter-spacing:-0.139em;}

#header .total_search.on {padding:0 30px 0 0; background:none; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; transition: all 0.3s ease;}
#header .total_search.on .inp_sear {}
#header .total_search.on label {display:none;}
#header .total_search.on .btn_search {display:block; position:absolute; top:0; right:0;}

/* container */
#container {min-height:100%; margin:-229px 0 -162px;}
#container .container_wrap {padding:229px 0 162px 0;} 
#container .contents_wrap {position:relative; width:1127px; margin:0 auto; padding-bottom:80px;}
#container .contents_wrap:after {content:""; display:block; clear:both;}

/* footer */
#footer {position:relative; z-index:10; width:1127px; height:160px; margin:0 auto; border-top:2px solid #313131; font-family:'돋움', Dotum;}
#footer .foot_logo {position:absolute; top:23px; left:8px;}
#footer .foot_logo a {display:block; overflow:hidden; width:185px; height:47px; background:url(../images/logo_footer.png) no-repeat; text-indent:-9999px;}
#footer .foot_links {overflow:hidden; padding:19px 0 0 238px;}
#footer .foot_links li {float:left; margin-right:16px;}
#footer .foot_links li a {color:#222;}
#footer .foot_links li a:hover, #footer .foot_links li a:active, #footer .foot_links li a:focus {text-decoration:underline;}
#footer .policy {padding:16px 0 0 240px;}
#footer .policy p {margin-bottom:8px; color:#666;}
#footer .policy p span {margin-left:6px; padding-left:10px; background:url(../images/bar_footer.png) no-repeat 0 50%;}
#footer .layer_familysite {position:absolute; top:14px; right:0;}

/*======================================================================
 * Global Contents
 =======================================================================*/
 /* global class */
.contents {float:left; width:748px;}
.thumline {display:block; position:absolute; top:0; left:0; z-index:2; border:1px solid #050404; filter:alpha(opacity=10); opacity:0.1;}

.lt {text-align:left;}
.ct {text-align:center;}
.rt {text-align:right;}

/* article sub title */
.subtit {position:relative; margin-bottom:11px; border-bottom:1px solid #303030;}
.subtit h2 {padding:32px 0 28px 26px; color:#00aa8c; font-size:27px; font-family:nanumB;}
.subtit .location {display:none; position:absolute; top:48px; right:0; color:#00aa8c; font-family:'돋움', Dotum;}
.subtit .location a {color:#00aa8c;}
.subtit .location a:hover, .subtit .location a:active, .subtit .location a:focus {text-decoration:underline;}

/* board */
.t_layout {display:table; width:100%;}
.t_cell {display:table-cell; vertical-align:middle;}

.article_tit, .article_txt {display:block;overflow: hidden}
.article_tit, .article_tit a {font-size:17px;}
.article_txt, .article_txt a {color:#898989; font-size:13px; line-height:1.6;}
a:hover .article_tit, a:active .article_tit, a:focus .article_tit,
.article_tit a:hover, .article_tit a:active, .article_tit a:focus,
a:hover .article_txt, a:active .article_txt, a:focus .article_txt,
.article_txt a:hover, .article_txt a:active, .article_txt a:focus {text-decoration:underline;}
.article_photo img {vertical-align:top;}
.article_info {overflow:hidden; color:#00aa8c; font-family:'돋움', Dotum;}
.article_info span {float:left; margin-left:10px; padding-left:11px; background:url(../images/bar_article_info.png) no-repeat 0 2px;}
.article_info span.first {margin:0; padding:0; background:none;}

.article_list {padding:0 0 0 26px;}
.article_list li {overflow:hidden; padding:26px 0; border-bottom:1px solid #e7e7e7;}
.article_list li .article_photo {float:left; margin-right:18px;}
.article_list li .article_photo img {width:155px; height:99px;}
.article_list li .article_txt, .article_list li .article_info {margin-top:10px;}

.article_related {padding-bottom:60px; border-top:1px solid #000;}
.article_related h3 {padding:15px 0 12px 25px; font-size:16px;}
.article_related ul {padding-left:36px;}
.article_related li {padding:0 15px; background:url(../images/bul_related.png) no-repeat 0 50%; font-size:15px; line-height:28px; letter-spacing:-0.04em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

table {table-layout:fixed}
table th, table td {word-wrap:break-word}

table.data {width:100%;}
table.data th, table.data td {border:1px solid #dfdfdf; font-size:13px;}
table.data th {padding:5px; background:#f9f9f9; color:#6f6f6f;}
table.data td {padding:10px; color:#7c7c7c;}

.data_row {border-top:1px solid #757575;}
.data_row table {width:100%;}
.data_row table th, .data_row table td {padding:10px; border-bottom:1px solid #dfdfdf; font-size:13px;}
.data_row table th {border-right:1px solid #dfdfdf; background:#f9f9f9; color:#6f6f6f; text-align:left;}
.data_row table td {color:#7c7c7c;}

table.board_list {width:100%; border-top:2px solid #464646;}
table.board_list th, table.board_list td {padding:10px; border-bottom:1px solid #c7c7c7; text-align:center;}
table.board_list th {color:#000;}
table.board_list td, table.board_list td a {color:#777;}
table.board_list td.sbj {text-align:left; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

table.board_view {width:100%; border-top:2px solid #464646;}
table.board_view th, table.board_view td {padding:10px; border-bottom:1px solid #c7c7c7;}
table.board_view th {color:#000;}
table.board_view td, table.board_view td a {color:#777;}
table.board_view .view_cont td {padding:40px 30px;}
table.board_view .view_cont * {max-width:100%;}

.board_action {margin-top:33px;}

.attached_file li {margin-top:5px;}
.attached_file li a:hover, .attached_file li a:active, .attached_file li a:focus {text-decoration:underline;}
.attached_file li:first-child {margin-top:0;}

/* pagination */
.pagination {position:relative; margin-top:73px; text-align:center;}
.pagination a, .pagination strong, .pagination span {display:inline-block; vertical-align:middle;}
.pagination .nums {height:36px; font-size:13px; font-family:Verdana;}
.pagination .nums a, .pagination .nums strong {float:left; min-width:26px; height:34px; padding:0 5px; margin-left:-1px; border:1px solid #ccc; line-height:34px; text-align:center;}
.pagination .nums strong, .pagination .nums a:hover {position:relative; border-color:#00aa8c; background:#00aa8c; color:#fff;}
.pagination .btn_page_prev {display:inline-block; width:40px; height:36px; margin:0 6px 0 0; background:url(../images/btn_prev_page.png) no-repeat;}
.pagination .btn_page_next {display:inline-block; width:40px; height:36px; margin:0 0 0 6px; background:url(../images/btn_next_page.png) no-repeat;}

/* button */
.btn_list {display:inline-block; width:100px; height:36px; background:url(../images/btn_list.png) no-repeat;}
.btn_go_wrap {margin-top:20px; text-align:right;}
.btn_go {padding-right:15px; background:url(../images/icon_arr_sitemap2.png) no-repeat 100% 5px; font-size:13px;}
.btn_go:hover {text-decoration:underline;}

/* popup */
.layer {position:relative;}
.layer .laypop {display:none; position:absolute;}
.layer.on .laypop {display:block;}

.layer_familysite {width:130px; z-index:10;}
.layer_familysite .laytit {display:block; height:18px; padding:5px 26px 0 7px; border:1px solid #bbb; background:url(../images/btn_arr_dropdown.png) no-repeat 100% 0; line-height:1.3;}
.layer_familysite .laypop {bottom:24px; left:0; right:0; border:1px solid #bbb; background:#fff;}
.layer_familysite .laypop ul {padding:3px 0;}
.layer_familysite .laypop a {display:block; padding:3px 7px;}
.layer_familysite .laypop a:hover {background:#f7f7f7;}
.layer_familysite.on .laytit {background-position:100% -23px;}

/* aside */
.aside {float:right; width:310px;}
/* 우측모듈 */
.aside_section {margin-bottom:36px;}
.aside_section .tit {height:39px; margin-bottom:14px; background:url(../images/bg_tit_aside.png) no-repeat;}
.aside_section .tit h3 {width:107px; color:#00aa8c; font-size:15px; font-family:nanumB; text-align:center; letter-spacing:-0.046em;}
.aside_section .tit h3 a {display:block; height:23px; padding-top:6px; color:#00aa8c;}
.aside_section .cont {padding-left:10px;}
.aside_section .article_tit {font-size:14px;}
/* 우측모듈(많이 본 기사) */
.article_popularity li {margin-top:16px;}
.article_popularity li:first-child {margin-top:0;}
.article_popularity li a {display:block; position:relative; height:72px; padding:0 0 0 41px; border:1px solid #e5e5e5;}
.article_popularity li a .num {position:absolute; top:50%; left:14px; height:28px; margin-top:-14px; color:#00aa8c; font-size:20px;}
.article_popularity li a .t_layout {width:auto;}
.article_popularity li a .t_cell {height:72px;}
.article_popularity li a .t_cell p {padding-right:10px; line-height:24px; word-break:keep-all;}
.article_popularity li a .article_photo {float:right; margin:-1px -1px -1px 0;}
.article_popularity li a .article_photo img {width:74px; height:74px;}
/* 우측모듈(주목기사) */
.article_note .cont {overflow:hidden; position:relative; margin-left:10px; padding:0;}
#article_slider {width:100%; border-bottom:1px solid #e5e5e5; background:url(../images/bg_main_slider.png) repeat-y;}
#article_slider ul {position:relative; width:100%; height:267px;}
#article_slider ul li {overflow:hidden; float:left; width:100%;}
#article_slider ul li a {display:block;}
#article_slider ul li .article_photo img {width:300px; height:177px;}
#article_slider ul li .article_tit {padding:7px 50px 0; text-align:center; line-height:22px; word-break:keep-all;}
.article_note .btn_area {position:absolute; top:195px; left:0; right:0;}
.article_note .btn_area button {display:block; position:absolute; top:0; width:11px; height:21px; background:url(../images/spr_btn_slider.png) no-repeat; text-indent:-99999px;}
.article_note .btn_area button.btn_prev {left:31px; background-position:0 0;}
.article_note .btn_area button.btn_next {right:16px; background-position:-20px 0;}
.article_note .paging {position:absolute; left:10px; right:0; bottom:11px; text-align:center;}
.article_note .paging .btn_page {display:inline-block; overflow:hidden; width:8px; height:8px; margin:3px; font-size:0; line-height:0; background:url(../images/spr_btn_slider.png) no-repeat -40px 0;}
.article_note .paging .btn_page.on {background-position:-60px 0;}
/* 우측모듈(피플) */
.article_people li {margin-top:16px;}
.article_people li:first-child {margin-top:0;}
.article_people li a {display:block; position:relative; height:77px; padding:12px 13px 11px 24px; border:1px solid #e5e5e5;}
.article_people li a .t_layout {width:auto;}
.article_people li a .t_cell {height:77px;}
.article_people li a .t_cell p {line-height:24px;}
.article_people li a .article_photo {position:relative; float:right; margin-left:10px;}
.article_people li a .article_photo img {width:77px; height:77px;}
.article_people li a .article_photo .thum_mask {display:block; position:absolute; top:0; left:0; width:77px; height:77px; background:url(../images/thum_mask_77x77.png) no-repeat;}
/* 우측모듈(오피니언) */
.article_opinion {overflow:hidden;}
.article_opinion li {float:left; margin-left:20px;}
.article_opinion li a {display:block; position:relative; width:138px; height:114px; border:1px solid #e5e5e5; text-align:center;}
.article_opinion li .article_photo {position:absolute; top:-1px; left:-1px; width:138px; height:114px; border:1px solid #fff;}
.article_opinion li .article_photo img {position:absolute; top:-1px; left:-1px; width:140px; height:116px; filter:alpha(opacity=24); opacity:0.24;}
.article_opinion li .article_tit {height:50px; padding:20px 15px 0; text-decoration:none;}
.article_opinion li .opinion_writer {font-size:13px;}
.article_opinion li a:hover .article_tit, .article_opinion li a:active .article_tit, .article_opinion li a:focus .article_tit {text-decoration:underline;}
.article_opinion li:first-child {margin-left:0;}
/* 우측모듈(최신기사) */
.article_latest li {margin-top:16px;}
.article_latest li:first-child {margin-top:0;}
.article_latest li a {display:block; position:relative; height:72px; padding:0 0 0 20px; border:1px solid #e5e5e5;}
.article_latest li a .t_layout {width:auto;}
.article_latest li a .t_cell {height:72px;}
.article_latest li a .t_cell p {padding-right:20px; line-height:24px; word-break:keep-all;}
.article_latest li a .article_photo {float:right; margin:-1px -1px -1px 0;}
.article_latest li a .article_photo img {width:74px; height:74px;}
/* print */
#print_area .contents {float:none; width:auto;}
/* ad */
.ad {position:absolute; background:#efefef; overflow:hidden;}
.ad_header {top:20px; right:0; width:320px; height:100px;}
.ad_left_wing {top:48px; left:-150px; width:120px; height:600px;}
.ad_right_wing {top:48px; right:-150px; width:120px; height:600px;}
.article_view_wrap .ad_left_wing, .article_view_wrap .ad_right_wing {top:27px;} 
.ad.ad_aside {position:static; width:300px; height:250px; margin:0 0 36px 10px;}

/*======================================================================
 * Main
 =======================================================================*/
.main_top {margin-bottom:24px; padding-top:48px;}
.main_top:after {content:''; display:block; clear:both;}
.main_top .headline {overflow:hidden; width:748px; margin:-4px 0 25px;}
.main_top .headline .article_tit {padding-bottom:23px;}
.main_top .headline .article_tit a {color:#000; font-size:31px; font-family:nanumB;}
.main_top .headline .article_txt a {display:block; font-size:14px; line-height:30px;}
.main_top .headline .article_photo {float:left; margin-right:25px;}
.main_top .headline .article_photo img {width:320px; height:189px;}
.main_top_article {float:left; width:761px;}
.main_top_article ul {overflow:hidden; background:url(../images/bg_main_top.png) repeat-y 50% 0;}
.main_top_article li {float:left; width:50%; padding-top:2px; border-top:1px solid #d7d7d7;}
.main_top_article li > div {height:108px; padding:12px 19px 0; border-top:1px solid #d7d7d7;}
.main_top_article li a {display:block;}
.main_top_article li a .article_tit {margin-bottom:12px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.main_top .aside_section {margin-bottom:0;}

.main_opinion {margin-bottom:42px; border-top:3px solid #4b4b4b; border-bottom:1px solid #e6e6e6;}
.main_opinion ul {overflow:hidden;}
.main_opinion li {float:left; width:33.33336%; height:167px; background:url(../images/bg_shadow.png) repeat-y;}
.main_opinion li > div {overflow:hidden; padding:15px 20px 0;}
.main_opinion li .article_tit {height:46px; margin-bottom:15px;}
.main_opinion li .article_txt {padding:3px 18px 0 0;}
.main_opinion li .article_txt a {display:block;}
.main_opinion li .article_photo {float:left; margin-right:14px;}
.main_opinion li .article_photo img {width:121px; height:71px;}
.main_opinion li:first-child {background:none;}

.main_article:after {content:''; display:block; clear:both;}
.main_article .latest_article {float:left; width:748px;}
.main_article .latest_article li {overflow:hidden; margin-top:11px;}
.main_article .latest_article li .article_photo {float:left; margin-right:22px;}
.main_article .latest_article li .article_photo img {width:155px; height:99px;}
.main_article .latest_article li .article_tit {margin-bottom:10px; padding-top:10px;}
.main_article .latest_article li .article_txt {padding-bottom:15px;}
.main_article .latest_article li:first-child {margin-top:0;}

/*======================================================================
 * Sub
 =======================================================================*/
.sub #container .contents_wrap {margin-bottom:150px; padding:0; background:url(../images/bg_sub.png) repeat-y;}/*2016회원가입수정*/
/* lnb */
.lnb {float:left; width:209px; padding:48px 0 285px; background:url(../images/bg_lnb.png) repeat-x;}
.lnb h2 {padding:34px 0; color:#222; font-size:28px; font-family:nanumB; text-align:center;}
.lnb ul {border-bottom:1px solid #e5e5e5;}
.lnb li {background:url(../images/bg_lnb_line.png) repeat-x;}
.lnb li a {display:block; padding:26px 0; font-size:17px; font-family:nanum; text-align:center;}
.lnb li.on {background-color:#fff;}
.lnb li.on a {background:url(../images/bg_lnb_on.png) repeat-y; color:#00aa8c;}
/* sub_contents */
.sub_contents {float:right; width:846px; padding-bottom:50px;}
.subcont_tit {position:relative; padding:72px 0 54px;}
.subcont_tit h3 {color:#222; font-size:37px; font-family:nanum;}
.subcont_tit .location {display:none; position:absolute; top:45px; right:0; color:#898989;}
.subcont_tit .location a {color:#898989;}
/* 리스트 */
.article_list_wrap .aside {margin-bottom:-36px; padding-top:48px;}
/* 뷰 */
.article_view_wrap .aside {margin-bottom:-36px; padding-top:36px;}
.article_view_wrap .contents {width:758px;}
.article_view_wrap .subtit {margin:0; padding-bottom:25px;}
.article_view_wrap .subtit h2 {padding-bottom:12px;}
.article_view_wrap .subtit h3 {padding:0 0 38px 26px; color:#000; font-size:28px;}
.article_view_wrap .subtit .datetime {padding:0 0 0 30px; color:#888;}
.article_view_wrap .subtit .datetime .bar {position:relative; top:-1px; margin:0 5px;}
.article_view_wrap .subtit .article_option_wrap {position:absolute; bottom:17px; right:86px; height:33px;}
.article_option_wrap .export_post {float:left; height:30px; padding-bottom:3px; background:url(../images/bar_article_options.png) no-repeat 100% 6px;}
.article_option_wrap .export_post a {display:inline-block; float:left; width:30px; height:30px; margin-right:15px; background:url(../images/spr_btn_sns.png) no-repeat;}
.article_option_wrap .export_post a.btn_facebook {background-position:0 0;}
.article_option_wrap .export_post a.btn_facebook:hover {background-position:0 -50px;}
.article_option_wrap .export_post a.btn_twiter {background-position:-45px 0;}
.article_option_wrap .export_post a.btn_twiter:hover {background-position:-45px -50px;}
.article_option_wrap .export_post a.btn_cacao {width:31px; background-position:-90px 0;}
.article_option_wrap .export_post a.btn_cacao:hover {width:31px; background-position:-90px -50px;}
.article_option_wrap .export_post a.btn_go_comment {width:31px; background-position:-134px 0;}
.article_option_wrap .export_post a.btn_go_comment:hover {width:31px; background-position:-134px -50px;}
.article_option_wrap .article_option {float:left; height:31px;}
.article_option_wrap .article_option button {float:left;}
.article_option_wrap .article_option .btn_print {margin-left:15px;}
.article_option_wrap .article_option .btn_font_small {margin-left:10px;}
.article_option_wrap .article_option .btn_font_big {margin-left:7px;}
.btn_print {width:29px; height:31px; background:url(../images/btn_print.png) no-repeat;}
.btn_font_small {width:31px; height:31px; background:url(../images/btn_font_small.png) no-repeat;}
.btn_font_big {width:31px; height:31px; background:url(../images/btn_font_big.png) no-repeat;}

.article_view {padding:34px 25px 55px; font-size:12px;}
.article_view h4 {margin-bottom:30px; color:#00aa8c; font-size:1.5em;}
.article_view > p {margin-bottom:40px; font-size:1.416em; line-height:1.7em;}
.article_view > p.reporter {margin-bottom:20px; color:#888; font-size:1.25em;}
.article_view .byline {font-size:1.16em;}
.article_view .byline a:hover, .article_view .byline a:active, .article_view .byline a:focus {text-decoration:underline;}
.article_view .byline p.reporter {margin-bottom:10px;}

.comment_area_wrap {padding:21px 50px 0 26px; border-top:1px solid #dcdcdc;}
.comment_area {padding:10px; border:1px solid #d1d1d1;}
/* 검색 */
.search_result_wrap .aside {margin-bottom:-36px; padding-top:48px;}
.search_result_wrap .article_list ul {padding-top:8px; border-top:1px solid #e7e7e7;}
.search_wrap {padding:35px 0 50px 26px;}
.search_wrap .search_area {position:relative; width:262px; height:50px; margin:0 auto; padding:0 86px 0 25px; background:url(../images/bg_search_rud.png) no-repeat;}
.search_wrap .search_area .search_input {height:44px; border-top:3px solid #00aa8c; border-bottom:3px solid #00aa8c;}
.search_wrap .search_area input.inp_sear {width:95%; height:44px; border:0; background:none; color:#434242; font-size:17px; font-family:'돋움', Dotum; line-height:44px;}
.search_wrap .search_area .btn_search {position:absolute; top:0; right:0; width:86px; height:50px; background:url(../images/btn_search_rud.png) no-repeat;}
.search_wrap .search_result {margin-top:38px; color:#434242; font-size:16px; text-align:center;}
/* 바이오스펙테이터 소개 */
.biospectator_info .subcont {color:#5a5a5a; font-size:16px; line-height:30px; letter-spacing:-0.04em}
.biospectator_info .subcont p {margin-bottom:29px;}
/* 개인정보취급방침 */
.privacy_policy .subcont {font-size:14px; line-height:30px;}
.privacy_policy .subcont h3 {margin:10px 0; font-size:15px; font-family:nanumB;}
.privacy_policy .subcont h4 {margin-bottom:10px; font-size:14px;}
.privacy_policy .subcont p, .privacy_policy .subcont ol, .privacy_policy .subcont ul {color:#5a5a5a;}
.privacy_policy .subcont .policy_list a:hover {text-decoration:underline;}
.privacy_policy .subcont .policy {margin-top:70px;}
.privacy_policy .subcont .policy p, .privacy_policy .subcont .policy li {padding-left:15px;}
.privacy_policy .subcont .policy table.data {margin:0 0 15px 15px;}
.youth_policy {margin-top:100px; padding-top:70px; border-top:1px solid #000;}
/* 오시는길 */
.directions {width:678px; margin:0 auto;}
.directions .map_area {width:100%; height:400px; background:#f6f6f6; margin-bottom:47px;}
/* 사이트맵 */
.sitemap {overflow:hidden; padding-left:26px;}
.sitemap dl {float:left; width:372px; font-family:nanum;}
.sitemap dt {height:41px; margin-bottom:37px; border-top:1px solid #828282; border-bottom:1px solid #828282; color:#424242; font-size:22px; line-height:40px; text-align:center;}
.sitemap dd li {margin-top:16px;}
.sitemap dd a {display:block; width:226px; height:38px; margin:0 auto; border-bottom:1px solid #c7c7c7; background:url(../images/icon_arr_sitemap2.png) no-repeat 212px 50%; color:#5a5a5a; font-size:16px; line-height:38px; text-indent:9px;}
.sitemap dl.map_cont {margin-right:41px; font-family:nanumB;}
.sitemap dl.map_cont dt {color:#00aa8c;}
.sitemap dl.map_cont dd a {width:224px; height:37px; border:1px solid #c7c7c7; background-image:url(../images/icon_arr_sitemap1.png); color:#00aa8c; text-indent:28px;}

/*======================================================================
 * IE hack (for IE7)
 =======================================================================*/
#header .navi li {#display:inline; *zoom:1;}
#container .contents_wrap, .main_top, .main_article {*zoom:1;}
.main_top_article li {#width:49.9%;}
.main_opinion li {#width:33%;}
.main_opinion li:first-child {#width:34%;}
.article_popularity a .t_cell p, .article_latest a .t_cell p {#padding-top:11px;}
.article_people a .t_cell p {#padding-top:13px;}

/*======================================================================
 * 바이오유료회원가입추가
 =======================================================================*/

/*메인수정*/
#gnb {height:32px; border-bottom:1px solid #ebebeb}
#gnb .inner_wrap {overflow: hidden;height:32px}
#gnb .gnb_familysite {float:left}
.right-gnb {float: right}
#gnb .gnb_familysite, .right-gnb {overflow: hidden;padding-top:8px}
#gnb .gnb_familysite li, .right-gnb li {float:left; margin-right:13px}
#gnb .gnb_familysite li a, .right-gnb li a {color:#898989; font-family:'돋움', Dotum}
.article-section-tit {height: 25px;line-height: 25px;padding: 1px 5px 2px 10px;margin-right: 10px;color: #00aa8c;font-size: 13px;border: 1px solid #00aa8c;text-align: center}
.article_people li a {display:block; position:relative; height:77px; padding:7px 13px 7px 24px;border:1px solid #e5e5e5}
.article_people li {margin-top: 10px}
.main_opinion li .article_tit {height:48px;margin-bottom: 15px}

/*서브페이지수정*/
.pay_article_tit {overflow: hidden}
.pay_article_tit>a {float: left}
.article_opinion li .article_tit {overflow: hidden;height: 74px;padding: 13px 15px 0}
.pay-icon {display:block;float:right;width: 51px;height: 23px;margin: 2px 0 0 10px;background-image: url("../images/pay_icon.png");text-indent: -9999px}

/*기사뷰 유료회원*/
.view-pay-tit {float: left}
.view-pay-tit>.pay-icon {margin: 10px 0 0 10px}
.pay-login-notice {width: 700px;height: 130px;margin: 0 auto;background-color: #fff;border: 15px solid #c6e8e2}
.login-notice-txt {padding: 10px;margin-top: 30px;color: #000;font-size: 17px;text-align: center;letter-spacing: -1px}
.login-notice-txt>a {color: #00aa8c;font-weight: bold;text-decoration: underline}
.pay-article-view {padding: 34px 25px 20px}

/*유료회원 로그인 팝업*/
.pay-login-popup {overflow: hidden;position: absolute;top: 5%;left: 50%;width: 400px;height: 600px;margin-left: -180px;background-color: #fff;border: 1px solid #ddd;-webkit-box-shadow: 10px 10px 53px -1px rgba(207,207,207,1);
-moz-box-shadow: 10px 10px 53px -1px rgba(207,207,207,1);
box-shadow: 10px 10px 53px -1px rgba(207,207,207,1);z-index:10}
.login-popup-wrap {position: relative}
.login-popup-content {height: 40px;line-height: 40px;background-color: #fff}
.login-popup-search {float: right;padding-right: 47px;margin: 25px auto 0 auto}
.login-popup-search>ul {overflow:hidden}
.login-popup-search>ul li {float: left}
.login-popup-search>ul li a {color: #888;font-size: 13px;letter-spacing: -1px}
.login-popup-search>ul li a:hover,.popup-pay-cencel>ul>li>a:hover {text-decoration: underline}
.login-popup-search>ul li>em {padding: 2px 3px 0 3px}
.popup-pay-cencel {width: 165px;margin: 0 auto}
.popup-pay-cencel>ul {overflow: hidden}
.popup-pay-cencel>ul>li {float: left;padding: 0 5px}
.popup-pay-cencel>ul>li:first-child {text-decoration: underline}
.popup-pay-cencel>ul>li>em {line-height: 23px;color: #999}
.popup-pay-cencel>ul>li>a {color: #000;font-size: 15px}
.login-close {position: absolute;top: 10px;right: 15px;width: 20px;height: 20px;background-image: url(../images/login_close.png);text-indent: -9999px}
.login-close>a {display: block}
.login-popup-img {padding-top: 60px;text-align: center}
.login-popup-txt {padding-top: 10px;color: #000;font-size: 16px;text-align: center;letter-spacing: -1px}
.login-popup-btn {width: 312px;height: 55px;margin-top: 5px;line-height: 55px;background-color: #00886d;text-align: center}
.login-popup-btn>a {color: #fff;font-size: 17px}
.label-box-place {width: 300px;margin-top: 5px;padding: 18px 0 17px 10px;font-size: 17px;color: #333;border: 1px solid #ddd}
.label-box-place placeholder {color:#999}
.label-box-place:focus {border: 1px solid #14b595}

/*유료회원가입리스트박스*/
.pay-join-step-wrap {width: 876px}
.pay-join-step-wrap ul {overflow: hidden}
.pay-join-step-wrap ul li {float: left;width: 205px;height: 50px;margin-right: 5px;color: #0ea788;text-align: center;border: 1px solid #10c1a2}
.pay-join-step-two ul li {float: left;width: 420px;height: 50px;margin-right: 5px;color: #0ea788;text-align: center;border: 1px solid #10c1a2}
.pay-join-step-wrap ul li.on {background-color: #00aa8c}
.pay-join-step-wrap ul li.on span {color: #fff}
.pay-join-step-wrap ul li span {font-size: 15px;line-height: 50px}

/*로그인*/
.login-wrap {width: 500px;margin: 0 auto}
.login-wrap .join-agree-wrap {margin: 20px auto 5px auto;}
.login-cont {margin: 0 auto}
.login-img {width: 325px;margin: 0 auto 20px 107px}
.login-cont .label-tit, .login-cont .label-tit-line {width: 80px}
.login-cont input.label-box {margin-left: 80px}
.login-btn-wrap {display: block;width: 382px;height: 60px;margin: 15px 0 0 80px;line-height: 60px;font-size: 20px;text-align: center;background-color: #00886d }
.login-btn-wrap>a {display: block;color: #fff}
.login-btn-lst {width: 285px;margin: 10px 0 0 125px}
.login-btn-lst>ul {overflow: hidden}
.login-btn-lst>ul>li {float: left}
.login-btn-lst>ul>li>a {font-size: 15px;letter-spacing: -1px}
.login-btn-lst>ul>li>a:hover {text-decoration: underline}
.login-btn-lst>ul>li>em {padding: 0 10px 0 5px;font-size: 14px;color: #999}

/*이용약관*/
.use ol li {padding-bottom:  15px;line-height: 24px}

/*유료회원가입*/
.join-wrap {padding-bottom: 15px}
.join-step-img {overflow: hidden;width: 870px;margin-top: 30px}
.join-step-img ul li {float: left;width: 165px;height: 50px;margin-right: 5px;line-height: 50px;text-align: center;background-color: #00aa8c}
.join-step-img ul li span {color: #fff;font-size: 16px;letter-spacing: -1px}
.comment {margin-top: 10px}
.comment ul li {line-height: 24px;letter-spacing: -1px}
.money-wrap {margin-top: 30px}
.money-wrap>table {width: 100%;text-align: center}
.money-lst  {margin-top: 10px}
.money-lst ul li {line-height: 24px;letter-spacing: -1px}
.use-question {margin-top: 40px}
.use-question .join-agree-tit {padding-bottom: 20px}
.use-question>span {margin-right: 20px;font-size: 17px}
.member-wrap {margin-top: 50px;color: #555;font-size: 27px;text-align: center;letter-spacing: -3px}
.join-btn-wrap ul {overflow: hidden;width: 245px;margin: 20px auto}
.join-btn-wrap ul li {float: left;margin-left: 5px}
.join-btn-wrap ul li:first-child {margin-left: 0}
.join-btn-wrap ul li a {display: block;width: 120px;height: 100px;line-height: 100px;text-align: center;color: #fff;font-size: 16px;font-weight: bold}
.join-btn-wrap ul li.personal a {background-color: #00886d}
.join-btn-wrap ul li.corporation a {background-color: #4b504f}

/* 약관동의 */
.join-agree-wrap {width: 100%;height: auto;margin: 50px auto}
.join-agree-cont {height: 500px}
.agree-form-wrap {border: solid 1px #eee;background: #fff;margin-bottom: 20px}
.terms_bx {padding: 17px 15px 7px;display: block}
.terms_bx:first-child {border-top: 1px solid #f0f0f0}
.terms_box {position: relative;height: 200px;margin-top: 11px;padding: 8px 10px;border: 1px solid #f0f0f0;background:#f7f7f7;overflow:auto;scrollbar-base-color:#d9d9d9;scrollbar-3dlight-color:#d9d9d9;scrollbar-darkshadow-color:#d9d9d9;scrollbar-face-color:#d9d9d9;scrollbar-highlight-color:#d9d9d9;scrollbar-shadow-color:#d9d9d9;scrollbar-track-color:#f2f2f2;-webkit-overflow-scrolling:touch;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.t .terms_box::-webkit-scrollbar {overflow:visible;width:6px;margin-right:10px;background:transparent}
.t .terms_box::-webkit-scrollbar-thumb {background-color:rgba(45,70,97,0.3);-webkit-border-radius:5px;min-height:20px;margin:0 5px 0 0}
.t .terms_box::-webkit-scrollbar-thumb:hover {background-color: rgba(45,70,97,0.3)}
.t .terms_box::-webkit-scrollbar-corn {background: transparent}
.section {font-size: 12px;color: #666;line-height: 16px}
.terms_privacy .section strong {color: rgb(58, 154, 20)}
.section h3,.section h4,.section {font-size: 12px;font-weight: normal;line-height: 16px}
.input_check {display: block;height: 24px;position: relative}
.input_check input {position: absolute;top: 50%;right: 1px;z-index: 9;width: 22px;height: 22px;margin-top: -11px;-webkit-appearance: none}
.input_check label {display: block;position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height: 25px;background:url(../images/ico_check_off.png) 100% 50% no-repeat;background-size: 25px 25px;-webkit-background-size: 25px 25px;font-size: 16px;font-weight: bold;color: #333;line-height: 24px;cursor: pointer}
.input_check input:checked + label {background:url(../images/ico_check_on.png) 100% 50% no-repeat;background-size: 25px 25px;-webkit-background-size: 25px 25px}
.input_check label.on {background: url(../images/ico_check_on.png) 100% 50% no-repeat;background-size: 25px 25px;-webkit-background-size: 25px 25px}
.input_check label .terms_choice {font-weight: normal;font-size: 12px;color: #0d9900}
.input_check label .terms_no {color: #969696}
.section table {margin: 0;border: 0;border-collapse: collapse;color: #333;text-align: center}
.section table th,.section table td {border: 1px solid #e5e5e5;padding: 5px 0}
.section ol {margin-bottom: 10px}
.agree-lst {display: block;padding-bottom: 8px}
.agree-check-all {display: block;padding: 15px}
.agree-check-all .input_check {height: 25px} 
.agree-check-all .input_check label {display: table;line-height: 20px;top: -1px} 
.agree-check-all .input_check label span {display: table-cell;vertical-align: middle}
.agree-btn-wrap {overflow: hidden;width: 100%;margin-top: 20px}
.agree-btn {float:left;width: 415px;height: 50px;line-height: 50px;text-align: center}
.agree-btn-next {margin-right: 12px;background-color: #00886d;border: 1px solid #048268}
.agree-btn-prev {background-color: #f1f1f1;border: 1px solid #ddd}
.agree-btn>a {display: block;font-size: 18px}
.agree-btn-next>a {color:#fff}
.agree-btn-prev>a {color:#555}

/* 인증절차 */
.join-step-wrap ul {overflow: hidden}
.join-step-wrap ul li {float: left;width: 415px;height: 225px;margin-left: 10px;border: 1px solid #ddd}
.join-step-wrap ul li:hover {border: 1px solid #37a491}
.join-step-wrap ul li:first-child {margin-left: 0}
.join-step-wrap ul li a {display: block;padding-top: 20px;text-align: center}
.join-step-wrap ul li a span {display: block}
.join-step-wrap ul li a>.txt {margin-top: 5px;color:#000;font-size: 20px;letter-spacing: -1px}
.join-step-wrap ul li a>.btn {width: 100px;height: 30px;line-height: 28px;margin: 10px auto;color: #fff;background-color: #08a288;border-radius: 20px;letter-spacing: -1px}
.agree-question-wrap {margin-top: 20px;text-align: center}
.agree-question-wrap strong {font-size: 17px;letter-spacing: -1px}
.agree-question-wrap span {line-height: 20px;color: #555}
.agree-question-wrap span, .agree-question-wrap strong {display: block}
.agree-question-wrap>.link:hover {text-decoration: underline}

/*회원정보입력*/
.join-agree-wrap label, .info-change-cont label {line-height: 57px;color: #999;font-size: 16px}
.join-agree-tit, .billing-history-tit {font-size: 30px;font-weight: normal;letter-spacing: -2px;color: #1ca990}
.join-agree-info {width: 500px;margin: 0 auto 30px auto}
.agree-info-form {width: 500px;margin-top: 40px}
.agree-info-box {width: 480px;padding: 18px 0 17px 10px;font-size: 17px;color: #aaa;border: 1px solid #ddd}
.input-section-02 {overflow: hidden;position: relative}
.agree-info-id {float: left;width: 290px;margin-top: 5px;margin-left: 70px}
.input-section-02>a {display: block;float: left;width: 113px;height: 55px;line-height: 55px;margin: 5px 0 0 5px;color: #000;background-color: #f1f1f1;text-align: center;border: 1px solid #ddd}
.join-comment {display:block;width: 410px;margin-left: 70px;line-height: 22px;font-size: 13px;color: #f92121;letter-spacing: -1px}
.agree-info-password-wrap, .agree-info-pho-wrap {margin-top: 5px}
.agree-info-pho-wrap select {width: 121px;padding: 18px 0 18px 10px;padding-left: 10px;font-size: 15px;border: 1px solid #ddd;box-shadow: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #fff url("../images/arrowdown.gif") no-repeat 95% 50%}
.join-pay-form {margin-right: 30px}
.agree-btn-wrap {overflow: hidden;width: 100%;margin-top: 20px}
.info-btn {float:left;width: 242px;height: 50px;line-height: 50px;text-align: center}
.info-btn-next {margin-right: 12px;background-color: #00886d;border: 1px solid #048268}
.info-btn-prev {background-color: #f1f1f1;border: 1px solid #ddd}
.info-btn>a {display: block;font-size: 18px}
.info-btn-next>a {color:#fff}
.info-btn-prev>a {color:#555}
.select-wrap-02 {margin-left: 70px}
.input-select-chk-02 {margin-left: 70px}
.select-wrap-02 select {line-height: 20px} 

/*아이디찾기 완료*/
.join-self-info-wrap {text-align: left}
.join-self-tit-wrap {width: 490px;padding-bottom: 20px;margin: 0 auto;font-size: 20px;border-bottom: 1px solid #eee}
.id-searh-eh-wrap {overflow:hidden;padding: 10px 0 15px 70px}
.id-searh-eh-cont {float: left;line-height: 25px}
.search-pw-btn, .search-id-btn {width: 490px;height: 60px;margin-top: 20px;line-height: 60px;background-color: #00aa8c;text-align: center}
.search-pw-btn>a, .search-id-btn>a {display: block;color: #fff;font-size: 17px}
.join-self-tit {font-size: 32px;letter-spacing: -2px}
.join-self-txt {margin-top: 15px;font-size: 17px;color: #555}
.self-id-form {width: 500px;margin: 30px auto 0 auto}

/*비밀번호 재설정*/
.pw-reset-wrap {width: 500px;margin: 30px auto}
.pw-reset-id-wrap {overflow: hidden;margin-bottom: 20px}
.pw-reset-id-wrap>span {display:block;float: left;font-size: 18px}
.pw-reset-btn-wrap {overflow:hidden;width: 490px;padding-bottom: 20px;margin: 0 auto;text-align: center}
.pw-reset-btn {width: 490px;height: 55px;line-height: 55px;background-color: #000;background-color: #00886d;border: 1px solid #048268}
.pw-reset-btn>a {display:block;color: #fff;font-size: 18px;letter-spacing: -1px}
.pw-reset-tit {width: 490px;margin: 0 auto;text-align: center;font-size: 18px}

/*아이디찾기*/
.id-search-self>.join-step-wrap>ul>li {width: 238px}

/*회원정보수정*/
.input-section-wrap {position: relative;overflow:hidden;margin-top: 5px}
.info-change-wrap {width: 500px;margin: 0 auto}
.info-change-tit {font-size: 28px;color: #00aa8c;letter-spacing: -1px}
.info-change-cont {width: 510px;margin: 30px auto}
.label-tit, .label-tit-line {position: absolute;left:0;width: 120px;letter-spacing: -1px}
label.label-tit-line {line-height: 28px}
input.label-box-change, input.label-box {float: left;width: 365px;padding: 18px 0 17px 10px;margin-left: 120px;font-size: 17px;color: #333;border: 1px solid #ddd}
.input-wrap-id {overflow: hidden;margin: 20px 0 20px 0}
.input-section-wrap>.tit {float: left;width: 120px;font-size: 16px;color: #999}
.input-section-wrap>.id-txt {float: left;font-size: 15px}
.input-section-wrap>.pw-comment {display:block;width: 350px;margin: 0 0 0 120px;padding-top: 10px;color: #999}
.input-section-wrap select {width: 121px;padding: 18px 0 18px 10px;padding-left: 10px;font-size: 15px;border: 1px solid #ddd;box-shadow: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #fff url("../images/arrowdown.gif") no-repeat 95% 50%}
.change-select-wrap {margin-left: 120px}
.change-select-wrap select {width: 120px;line-height: 20px}
.change-select-wrap>.agree-info-box {width: 100px}
.input-select-chk {margin-left: 120px}
.info-change-cont .info-btn {width: 238px}
.input-section-02>.label-box {width: 410px;margin-left: 70px}

/*유료회원연장신청*/
.payment-info-wrap {overflow:hidden;position: relative;border: 1px solid #ddd}
.payment-section-wrap {overflow:hidden;padding: 10px 0 15px 0;border-bottom: 1px solid #ddd}
.payment-section-tit {float: left;width: 100px;margin-left: 15px;font-size: 16px;color: #333;line-height: 57px}
.payment-section-01, .payment-section-02 {float: left;line-height: 25px}
.payment-section-02 {width: 380px}
.payment-section-wrap .join-pay-form {color: #333}
.payment-txt {padding-left: 15px;line-height: 20px;color:#777}
.request-wrap {overflow:hidden;padding: 10px 0 15px 0;border-bottom: 1px solid #ddd}
.request-tit {float: left;width: 100px;margin-left: 15px;font-size: 16px;color: #333;line-height: 70px}
.request-form-wrap {float: left;line-height: 25px}
.request-form {width: 350px;padding: 18px 0 40px 10px;font-size: 13px;color: #333;border: 1px solid #ddd;background-color: #f7f7f7}
.tax-bill-wrap {overflow:hidden;padding: 10px 0 15px 0}
.tax-bill-tit {float: left;width: 100px;margin-left: 15px;font-size: 16px;color: #333;line-height: 30px}
.tax-bill-form {float: left;line-height: 30px}

/*신청완료*/
.clear-wrap {margin-top: 20px;text-align: center}
.clear-txt {font-size: 24px;color: #777;letter-spacing: -2px;line-height: 34px}
.clear-info-form .label-tit {width: 80px}
.clear-info-form .label-box {margin-left: 80px}
.clear-btn {width: 378px;height: 55px;margin: 10px 0 0 80px;line-height: 55px;background-color: #00886d}
.clear-btn>a {color: #fff;font-size: 17px}
.clear-info-form .label-tit-line, .clear-info-form .label-tit {text-align: left}

/*유료회원결제내역*/
.billing-history-table {margin-top: 30px}
.billing-history-table>table {width: 100%;text-align: left}
.billing-history-table>table tr th {font-size: 14px;}
.billing-history-table>table tr td {color: #555;font-size: 14px;line-height: 50px;border-bottom: 1px solid #eee}
.billing-history-table>.coment {color: #777;letter-spacing: -1px}

/*회원탈퇴*/
.secession-wrap>.coment {margin-bottom: 5px;color: #000;font-size: 17px;font-weight: bold;letter-spacing: -1px}
.secession-txt-wrap {width: 100%;height: 150px;margin-top: 20px;padding: 20px 20px 10px 20px;background-color: #f9f9f9;line-height: 24px;border: 1px solid #e5e5e5}
.secession-txt-wrap ol li {padding-bottom: 10px;color: #222}
.secession-chk-wrap {width: 270px;margin: 10px auto}
.secession-wrap .agree-btn-wrap {overflow: hidden;width: 1000px;margin-top: 40px}
.secession-wrap .agree-btn {width: 435px;height: 50px;line-height: 50px;text-align: center}

/*아이디찾기*/
.info-message-wrap {width: 490px;padding-bottom: 20px;margin: 0 auto;font-size: 20px;border-bottom: 1px solid #eee;text-align: center}
.info-message-tit {font-size: 32px;letter-spacing: -2px}
.info-message-txt {margin-top: 15px;font-size: 17px;color: #555}
.id-login-btn {float: left;width: 240px;height: 55px;margin-right: 6px;line-height: 55px;background-color: #000;background-color: #00886d;border: 1px solid #048268}
.id-login-btn>a {color: #fff}
.id-password-btn>a {color: #333}
.id-login-btn>a, .id-password-btn>a {display:block;font-size: 18px;letter-spacing: -1px}
.id-searh-btn-wrap, .pw-searh-btn-wrap {overflow:hidden;width: 490px;padding-bottom: 20px;margin: 0 auto;text-align: center}
.id-password-btn {float: left;width: 240px;height: 55px;line-height: 55px;background-color: #f1f1f1;border: 1px solid #ddd}
.id-name-lst-wrap {width: 490px;height: 150px;margin: 30px auto;background-color: #f9f9f9;border: 1px solid #eee}
.id-name-lst {width: 300px;margin: 45px auto}
.id-name-lst li {overflow:hidden;padding-bottom: 5px;text-align: left}
.id-name-lst li>strong {display:block;float: left;width: 100px;font-size: 17px}
.id-name-lst li>span {display:block;float: left;font-size: 17px}

/*비밀번호찾기*/
.pw-searh-btn-wrap .save-login-btn {width: 490px;height: 55px;line-height: 55px;background-color: #000;background-color: #00886d;border: 1px solid #048268}
.save-login-btn>a {display:block;color: #fff;font-size: 18px;letter-spacing: -1px}
